* {
  color: white;
}

.btn {
  border-radius: 50px;
  text-align: center;
  background-color: #4648AB;
}

.content {
  height: 100vh;
}

img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

@keyframes row-icon-an  {
   0% {opacity: 0.5;}
   50% {opacity: 1;}
   100% {opacity: 0.5;}
}

#row-icon {
  position: absolute;
  top: 97%;
  left: 50%;
  will-change: opacity;
  animation-name: row-icon-an;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (orientation: portrait) {
  img {
    width: 30vh;
    height: 30vh;
  }
}

@media (max-height: 510px) {
  #row-icon {
    display: none;
  }
}

@media (min-width: 1399px) {
  img {
    width: 25vw;
    height: 25vw;
  }
}
