#contact {
  background-color: #050650;
  color: white;
}

#contact div {
  height: fit-content;
}

.grid {
  grid-template-columns: 2fr 1fr;
}

.email-container input {
  color: white;
}

@media (min-height: 1079px) {
  #contact {
    display: flex;
    height: 80vh;
  }

  #contact div {
    align-self: center;
  }
}
