#portfolio {
  color: white;
  background-color: #050650;
}

.main-container {
  height: fit-content;
}

.card {
  background-color: #2b2d72;
  color: white;
}

.card img {
  width: 100%;
}

.empty-card {
  height: 100%;
}

.empty-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-link {
  color: white;
}

.card-link:hover {
  transform: scale(1.025);
  background-color: rgba(255, 255, 255, 0.10);
}
